{% extends 'base.html.twig' %}

{% block title %}Post index{% endblock %}

{% block body %}
    <h1>Post index ({{ posts.getTotalItemCount }})</h1>
    {% for post in posts %}
        {% if post.approved == 1 %}
            <div class="post--child">
                <div class="post__userbox">
                    <img class="post__avatar" src="{{ post.user.avatar }}">
                    <a class="post__username">{{ post.user }}</a>
                </div>
                <div class="post__content">
                    <a href="{{ path('post_show', {'id': post.id}) }}">
                        {{ post.content|slice(0, 100) }}{% if post.content[0:100] is not same as (post.content) %}...{% endif %}
                    </a>
                </div>
            </div>
        {% else %}
            {% if is_granted('ROLE_ADMIN') %}
                <div class="post--child post--unapproved">
                    <div class="post__userbox">
                        <img class="post__avatar" src="{{ post.user.avatar }}">
                        <a class="post__username">{{ post.user }} (unapproved post)</a><br />
                        &nbsp;<a class="approvelink" href="{{ path('post_edit', {'id': post.id}) }}">edit</a>
                    </div>
                    <div class="post__content">
                        <a href="{{ path('post_show', {'id': post.id}) }}">
                            {{ post.content|slice(0, 100) }}{% if post.content[0:100] is not same as (post.content) %}...{% endif %}
                        </a>
                    </div>
                </div>
            {% endif %}
        {% endif %}
    {% else %}
        <p class="norepliesfound">No posts here... yet.</p>
    {% endfor %}
    {{ knp_pagination_render(posts) }}
    {% if is_granted('ROLE_VERIFIED') or is_granted('ROLE_ADMIN') %}
        <p class="replies">Make a new post in this category:</p>
        {{ include('post/_form.html.twig') }}
    {% endif %}
{% endblock %}
