{% extends 'base.html.twig' %}

{% block title %}Post{% endblock %}

{% block body %}
    {% if parent[0] is defined %}
        {% if parent[0].approved == 1 %}
        <div class="post--parent">
            <div class="post__userbox">
                <img class="post__avatar" src="{{ parent[0].user.avatar }}">
                <a class="post__username">{{ parent[0].user }}</a>
            </div>
            <div class="post__content">
                <a href="{{ path('post_show', {'id': parent[0].id}) }}">
                    {{ parent[0].content|slice(0, 100) }}{% if parent[0].content[0:100] is not same as (parent[0].content) %}...{% endif %}
                </a>
            </div>
        </div>
        {% else %}
            {% if is_granted('ROLE_ADMIN') %}
                <div class="post--parent post--unapproved">
                    <div class="post__userbox">
                        <img class="post__avatar" src="{{ parent[0].user.avatar }}">
                        <a class="post__username">{{ parent[0].user }} (unapproved post)</a>
                        &nbsp;<a class="approvelink" href="{{ path('post_edit', {'id': parent[0].id}) }}">edit</a>
                    </div>
                    <div class="post__content">
                        <a href="{{ path('post_show', {'id': parent[0].id}) }}">
                            {{ parent[0].content|slice(0, 100) }}{% if parent[0].content[0:100] is not same as (parent[0].content) %}...{% endif %}
                        </a>
                    </div>
                </div>
            {% endif %}
        {% endif %}
    {% endif %}

    {% if post.approved == 1 %}
        <div class="post">
            <div class="post__userbox">
                <img class="post__avatar" src="{{ post.user.avatar }}">
                <a class="post__username">{{ post.user }}</a>
            </div>
            <div class="post__content">
                <a href="{{ path('post_show', {'id': post.id}) }}">{{ post.content }}</a>
            </div>
        </div>
    {% else %}
        {% if is_granted('ROLE_ADMIN') %}
            <div class="post post--unapproved">
                <div class="post__userbox">
                    <img class="post__avatar" src="{{ post.user.avatar }}">
                    <a class="post__username">{{ post.user }} (unapproved post)</a>
                    &nbsp;<a class="approvelink" href="{{ path('post_edit', {'id': post.id}) }}">edit</a>
                </div>
                <div class="post__content">
                    <a href="{{ path('post_show', {'id': post.id}) }}">{{ post.content }}</a>
                </div>
            </div>
        {% endif %}
    {% endif %}

    <p class="replies">replies ({{ children.getTotalItemCount }}) :</p>
    {% for child in children %}
        {% if child.approved == 1 %}
            <div class="post--child">
                <div class="post__userbox">
                    <img class="post__avatar" src="{{ child.user.avatar }}">
                    <a class="post__username">{{ child.user }}</a>
                </div>
                <div class="post__content">
                    <a href="{{ path('post_show', {'id': child.id}) }}">
                        {{ child.content|slice(0, 100) }}{% if child.content[0:100] is not same as (child.content) %}...{% endif %}
                    </a>
                </div>
            </div>
        {% else %}
            {% if is_granted('ROLE_ADMIN') %}
                <div class="post--child post--unapproved">
                    <div class="post__userbox">
                        <img class="post__avatar" src="{{ child.user.avatar }}">
                        <a class="post__username">{{ child.user }} (unapproved post)</a>
                        &nbsp;<a class="approvelink" href="{{ path('post_edit', {'id': child.id}) }}">edit</a>
                    </div>
                    <div class="post__content">
                        <a href="{{ path('post_show', {'id': child.id}) }}">
                            {{ child.content|slice(0, 100) }}{% if child.content[0:100] is not same as (child.content) %}...{% endif %}
                        </a>
                    </div>
                </div>
            {% endif %}
        {% endif %}
    {% else %}
    <p class="norepliesfound">No replies here... yet.</p>
    {% endfor %}
    {{ knp_pagination_render(children) }}
    {% if is_granted('ROLE_VERIFIED') or is_granted('ROLE_ADMIN')%}
        {{ include('post/_form.html.twig') }}
    {% endif %}
{% endblock %}
